<div class = "details-container">
  <div class = "img-container-details">
    <img class = "img-movie-details" src={{image}} alt={{title}} />
  </div>
  <div class= "details-info-movie">
    <p><a href="/movies">Go back!</a></p>
    <h2>{{title}}</h2>
    <h3>{{director}}</h3>
    <h4>Stars</h4>
    <ul>
      {{#each stars}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    <p class = "description">{{description}}</p>
    <p>{{#each showtimes}} {{this}} | {{/each}}</p>
  </div>
</div>